/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}


.jumbotron {
  background: url('../img/cropped-austin-texas.jpg') auto no-repeat;
}

div.text-center.announce-box {
  border: 5px solid gray;
}