{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="center-text-wrapper">
        <a href="https://www.esurveyspro.com/s/471272/2021"></a>
        <h3 class="text-center">2021 CAWSO Membership Survey</h3>
        </a>
    </div>
    <br>
    <div class="center-text-wrapper">
        <h3 class="text-center">2022 World Convention in Austin</h3>
        <a href="https://caws2022.org">
            <img object-fit="contain" src="/img/convention.png" width="500" height="600" class="displayed" />
        </a>
    </div>
    <br>
    <div class="text-center announce-box">
        <h2 class="text-center">Next Delegate Meeting<br> January 16th 7pm
            <br> All are welcome<br>
        </h2>
        <h4 class="text-center">
            Zoom Meeting ID: 88492030709 <br>
            PassCode: 905493</h4>
    </div>
    <br>
    <div class="text-center announce-box">
        <h2 class="text-center">Next Area Meeting January 15th at Noon is Hybrid
            <br><a href="https://global.gotomeeting.com/join/839079165">Click Here for Online Link</a> <br>
            In Person <br>
            120 Commercial Parkway<br>
            Cedar Park, TX 78613<br>
        </h2>
        <h4 class="text-center">To Dial In United States: 1 (669) 224-3412<br>
            Access Code: 839-079-165</h4>
    </div><br><br>
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
                {{ end }}
                <div class="col-md-4">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                            {{ end }}
                            <div class="icon">
                                <i class="{{ .icon }}"></i>
                            </div>
                            {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
                {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}